@{
    ViewBag.Title = DateTime.Now.Year + " Centerville Softball - About";
}

<h2>About</h2>
<div class="service"> 
    <h3>Request Information</h3>
    <div class="section"> 
        <div class="item">
            <div class="details">
            <strong>User Agent:</strong>
            @ViewBag.UserAgent
            </div>
            <div class="details">
            <strong>Mobile Device:</strong>
            @ViewBag.IsMobileDevice
            </div>
        </div>
    </div>
</div>
