@{
    ViewBag.Title = DateTime.Now.Year + " Centerville Softball - Contact";
}

<h2>Contact Information</h2>
<div id="apps">
    <a name="top"></a>
    <h3>Centerville Washington Parks Dept.</h3>
    <div class="product">
        <div class="details">
            <strong>League Coordinator:</strong>&nbsp;Jen Brandt<br />
            221 N Main St<br />
            Centerville OH 45459<br />
            <a href="http://maps.google.com/maps?q=221+N+Main+St+Centerville+OH+45459&hl=en&ll=39.634696,-84.159168&spn=0.005346,0.007768&sll=39.639471,-84.197288&sspn=0.021382,0.031071&hnear=221+N+Main+St,+Centerville,+Ohio+45459&t=h&z=17">Get Directions</a><br />
            <a href="mailto:jbrandt@cwpd.org">jbrandt@cwpd.org</a><br />
            <a href="tel:9374335155">937-433-5155</a>
        </div>
    </div>
</div>
<div id="games">
    <h3>Yankee Park</h3>
    <div class="product">
        <div class="details">
            7500 Yankee St<br />
            Centerville OH 45459<br />
            <a href="http://maps.google.com/maps?q=yankee+park,+centerville,+oh&hl=en&ll=39.639471,-84.197288&spn=0.021382,0.031071&sll=39.639215,-84.198167&sspn=0.005081,0.007768&hq=yankee+park,&hnear=Centerville,+Montgomery,+Ohio&t=h&z=15&iwloc=lyrftr:m,10887818016810869200,,">Get Directions</a>
        </div>
    </div>
</div>
